body {
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #question-container {
    text-align: center;
    margin-top: 50px;
  }
  
  #score-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #result-container {
    text-align: center;
    margin-top: 20px;
  }
  
  #restart-btn {
    margin-top: 10px;
  }
  
  #result-container h2 {
    color: red;
  }
  
  #result-container h3 {
    color: green;
  }
  